server:
  port: 8080

spring:
  application:
    name: activitiesclub
  datasource:
    url: jdbc:postgresql://localhost:5432/activitiesclub
    username: app
    password: app_password

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true


